@import "../abstracts/variables";
@import "../abstracts/mixins";

.login-form{
  width: 300px;
  background: $color-white;
  //height: 400px;
  padding: 80px 40px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  @include respond (phone) {
    width: 250px;
    //height: 300px;
  }
  &__header {
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    color: $color-black;
  }
  &__all {
    border-bottom: 2px solid $grey;
    position: relative;
    margin: 30px 0;
    &--input {
      font-size: 15px;
      color: #333;
      border: none;
      width: 94%;
      outline: none;
      background: none;
      margin-left: 8px;
      height: 40px;
      @include respond (phone) {
        width: 90%;
      }
    }
  }
  &__icon {
    color: $main-dark;
    width: 10px;
  }
  &__text {
    margin-top: 60px;
    text-align: center;
    font-size: 13px;
    &--par {
      color: $main-dark;
      cursor: pointer;
      font-size: 15px;
    }
  }
}

.register-input {
  margin-left: 9px !important;
  width: 92% !important;
}

.register-query {
  margin-top: 15px;

}